In [1]:
import pandas as pd
from pathlib import Path
import scipy.stats as stat

In [4]:
path_to_data = "./data/EDTG_Data.xls"

In [5]:
df = pd.read_excel(path_to_data)  # load up the data
df.head() # and let's just take a look at it

,gname,gid,year,end,duration,base,num_base,mul_bases,EAP,ECA,...,num_enemies,fate_leader,total_deaths,total_injuries,terr_deaths,terr_injuries,nonterr_deaths,nonterr_injuries,terr_casualties,nonterr_casualties
0,1920 Revolution Brigades,1,2003,0,1,Iraq,1,0,0,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1920 Revolution Brigades,1,2004,0,2,Iraq,1,0,0,0,...,NaN,0.0,15.0,19.0,1.0,0.0,14.0,19.0,1.0,33.0
2,1920 Revolution Brigades,1,2005,0,3,Iraq,1,0,0,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1920 Revolution Brigades,1,2006,0,4,Iraq,1,0,0,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1920 Revolution Brigades,1,2007,1,5,Iraq,1,0,0,0,...,NaN,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
right_wingers = df[
    df["right"] == 1
]

left_wingers=df[
    df['left'] == 1
]

right_wingers.head() #Al-Arifeen, huh! They're pretty devoutly religious.
left_wingers.head()

,gname,gid,year,end,duration,base,num_base,mul_bases,EAP,ECA,...,num_enemies,fate_leader,total_deaths,total_injuries,terr_deaths,terr_injuries,nonterr_deaths,nonterr_injuries,terr_casualties,nonterr_casualties
5,23rd of September Communist League,2,1973,0,1,Mexico,1,0,0,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,23rd of September Communist League,2,1974,0,2,Mexico,1,0,0,0,...,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,23rd of September Communist League,2,1975,0,3,Mexico,1,0,0,0,...,NaN,1.0,32.0,4.0,0.0,0.0,32.0,4.0,0.0,36.0
8,23rd of September Communist League,2,1976,0,4,Mexico,1,0,0,0,...,NaN,0.0,24.0,5.0,0.0,0.0,24.0,5.0,0.0,29.0
9,23rd of September Communist League,2,1977,0,5,Mexico,1,0,0,0,...,NaN,2.0,7.0,0.0,0.0,0.0,7.0,0.0,0.0,7.0

In [7]:
# I want to know whether, of right-wing groups, the religiously motivated ones are significantly different 
# in terms of longevity, lethality, or membership, than non-religious ones.

In [14]:
# first lets figure out some basic things about the population that we're examiniung
pop_longevities = {}
unique_groups = df['gname'].unique()
for group in unique_groups:
        entries = df[
            df['gname'] == group
        ]['duration']
        
        pop_longevities[group] = entries.max()

p_std_dev = stat.tstd(list(pop_longevities.values()))
print(p_std_dev) # this aligns with findings that many terrorist groups are 'one-hit wonders'

12.270618829998693

In [19]:
# I want to begin by figuring out their respective average longevities, but first I'm going to clean the data
# into smaller sub-tables so that I don't have to worry about the duplicates
uq_rw = right_wingers['gname'].unique()
r_longevities = {}
for group in uq_rw:
    group_entries = right_wingers[
       right_wingers['gname'] == group
    ]['duration']
    
    r_longevities[group] = group_entries.max()
    
r_std_dev = stat.tstd(list(r_longevities.values()))  

uq_lw = left_wingers['gname'].unique()
l_longevities = {}
for group in uq_lw:
    group_entries = left_wingers[
        left_wingers['gname'] == group
    ]['duration']
    
    l_longevities[group] = group_entries.max()
l_std_dev = stat.tstd(list(l_longevities.values()))

print("right-wing stdev:", r_std_dev)
print("left-wing stdev:", l_std_dev)

right-wing stdev: 9.34025353694715
left-wing stdev: 11.592012533686798